@import "tailwindcss";

.text-gradient {
  background: linear-gradient(90deg, #4facfe, #7846aa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-gradient {
  background: linear-gradient(135deg, #2186df, #02ffbb);
  border: none;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-gradient:hover {
  opacity: 0.9;
  transform: translateY(-1px);
  box-shadow: 0 6px 18px rgba(79, 172, 254, 0.4);
}
.password-input {
  font-size: 2rem; /* bigger bullets */
  letter-spacing: 0.35rem; /* space between bullets */
  font-weight: 900; /* bolder bullets */
}
